*{
    margin: 0;
    padding: 0;
}


.header1{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/WhatsApp\ Image\ 2024-06-26\ at\ 01.09.05_4fac093a.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}

/*-----Course-----*/

.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;  
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
   flex-basis: 31%;
   background: #fff3f3;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
}

h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0; 
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*---Ocean---*/

.Ocean{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Ocean-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%); 
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.Ocean-col img{
    display: block;
}

/*---Conservation---*/

.Conservation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.Conservation-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.Conservation-col img{
    border-radius: 10px;
}

.Conservation-col p{
    padding: 0;
}

.Conservation-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*---Testtimonials---*/

.Testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 1px;
}





/*---Call To Action--*/

.cta{
   margin: 100px auto;
   width: 80%;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/images\ \(7\).jpeg); 
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   text-align: center;
   padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*---Footer---*/

.Footer{
   width: 100%;
   text-align: center;
   padding: 30px 0; 
}

.Footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: blue ;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
}

/*---Gallery*/

.Gallery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Gallery-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.Gallery-col img{
    display: block;
}
















  




